#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.name-input-group {
  max-width: 13rem;
  margin: 0 auto;
}

.server-browser {
  background-color: #3a3a3a;
  padding: 1.5rem;
  border-radius: 8px;
}

.server-browser-row {
  background-color: #454545;
  padding: 1rem;
  border-radius: 6px;
}

.lobby-chat {
  background-color: #454545;
  height: 20rem;
  width: 25rem;
}

.lobby-player-box {
  display: flex;
  border-radius: 1rem;
  height: 5rem;
  width: 25rem;
  justify-content: center;
  align-items: center;

  &.ready {
    background-color: #19943e;
  }

  &.not-ready {
    background-color: #454545;
  }
}
