.game-board {
  display: flexbox;
  position: absolute;
  width: 95vw;
  height: 95vh;
  overflow: hidden;
  perspective: 10000px;
  top: 2.5vh;
  left: 2.5vw;
}

.game-chat {
  position: absolute;
  top: 1px;
  right: 0%;
  top: 0%;
}

.card {
  height: 15rem;
  width: 10rem;
  transition: transform 0.5s;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 1rem;
  top: 0;

  &.flipped {
    transform: rotateY(180deg);
  }
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
}
.card-front {
  background-color: red;
}

.card-back {
  background-color: blue;
  transform: rotateY(180deg);
}

.player-container {
  &.position {
    position: absolute;
    transform: translate(-50%, 50%);
    left: max(min((calc(cos(var(--angle)) * 60vw + 50%)), 95%), 5%);
    bottom: min(calc(sin(var(--angle)) * 95vh), 93%);
  }

  &.container {
    height: 7rem;
    width: 10rem;
    padding: 0;
    background-color: #4a4a4a;
    border-radius: 1rem;
  }

  &.active {
    background-color: #5a5a5a;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1.5rem 0 rgba(255, 255, 255, 1);
  }
}

.point {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.next-turn-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  height: 5rem;
  width: 10rem;
}

.item-card-box {
  position: absolute;
  background-color: #4a4a4a;
  bottom: 2%;
  left: 5%;
  border-radius: 1rem;
}

.item-card {
  background-color: rgb(160, 134, 87);
  width: 5rem;
  height: 10rem;
  transition: transform var(--hover-speed);
  border-radius: 1rem;

  &.hovering {
    transform: translate(0, -2rem) rotate3d(1, 0.5, 0, 30deg);
  }
}

.choosing-action-box {
  position: relative;
  max-width: 20rem;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
