.game-board {
  display: flexbox;
  position: absolute;
  width: 95vw;
  height: 95vh;
  overflow: hidden;
  perspective: 10000px;
  top: 2.5vh;
  left: 2.5vw;
}

.game-chat {
  position: absolute;
  top: 1px;
  right: 0%;
  top: 0%;
}

.card {
  height: 15rem;
  width: 10rem;
  transition: transform 0.5s;
  position: absolute;
  transform-style: preserve-3d;
  border-radius: 1rem;
  top: 0;

  &.flipped {
    transform: rotateY(180deg);
  }
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
}
.card-front {
  background-color: red;
}

.card-back {
  background-color: blue;
  transform: rotateY(180deg);
}

.player-container {
  &.position {
    position: absolute;
    transform: translate(-50%, 50%);
    left: max(min((calc(cos(var(--angle)) * 60vw + 50%)), 95%), 5%);
    bottom: min(calc(sin(var(--angle)) * 95vh), 90%);
  }

  &.container {
    height: 7rem;
    width: 10rem;
    padding: 0;
    background-color: grey;
    border-radius: 1rem;
  }
}

.point {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: white;
}
