.game-board {
  display: flexbox;
  position: absolute;
  width: 95vw;
  height: 95vh;
  overflow: hidden;
  perspective: 10000px;
  top: 2.5vh;
  left: 2.5vw;
}

.game-chat {
  position: absolute;
  top: 1px;
  right: 0%;
  top: 0%;
}

.player-container {
  &.position {
    position: absolute;
    transform: translate(-50%, 50%);
    left: max(min((calc(cos(var(--angle)) * 60vw + 50%)), 95%), 5%);
    bottom: min(calc(sin(var(--angle)) * 95vh), 93%);
  }

  &.container {
    width: 10rem;
    min-height: 7rem;
    padding: 0;
    background-color: #4a4a4a;
    border-radius: 1rem;
  }

  &.active {
    background-color: #5a5a5a;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1.5rem 0 rgba(255, 255, 255, 1);
  }
}

.point {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: white;
}

.next-turn-button {
  position: absolute;
  right: 5%;
  bottom: 5%;
  height: 5rem;
  width: 10rem;
}

.item-card-box {
  position: absolute;
  background-color: #4a4a4a;
  bottom: 2%;
  left: 5%;
  border-radius: 1rem;
}

.item-card {
  background-color: rgb(160, 134, 87);
  width: 5rem;
  height: 7rem;
  transition: transform var(--hover-speed);
  border-radius: 0.5rem;

  &.hovering {
    transform: translate(0, -1rem) rotate3d(1, 0.5, 0, 10deg);
    cursor: pointer;
  }

  &.selected {
    box-shadow: 0 0 1.5rem 0 rgba(255, 255, 255, 1);
    border-radius: 1rem;
  }
}

.monster-card {
  width: 5rem;
  height: 7rem;
  transition: transform 0.5s;
  border-radius: 0.5rem;
  transform-style: preserve-3d;

  &.selected {
    box-shadow: 0 0 1.5rem 0 rgba(255, 255, 255, 1);
    border-radius: 1rem;
  }

  &.flipped {
    transform: rotateY(180deg);
  }
}

.monster-card-front,
.monster-card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  backface-visibility: hidden;
}
.monster-card-front {
  background-color: rgb(255, 255, 255);
  transform: rotateY(180deg);
}

.monster-card-back {
  background-color: rgb(144, 155, 255);
}

.choosing-action-box {
  position: relative;
  max-width: 20rem;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deck-shop-coins-stack {
  position: absolute;
  bottom: 65%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  white-space: nowrap;
}

.deck-shop-coins-stack > div > div {
}

.board-monster-stack {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.action-buttons-stack {
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.test-animation-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.animating-card {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
}

.animating-card .item-card {
  margin: 0 !important;
}

.animating-coins {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
  height: 1rem;
  width: 1rem;
  background-color: rgb(248, 232, 0);
}

.animating-stars {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
  height: 2rem;
  width: 2rem;
  background-color: rgb(255, 255, 255);
}
